#include <windows.h>
#include "version.h"
1 VERSIONINFO
 FILEVERSION TOOLS_PE_VERSION
 PRODUCTVERSION TOOLS_PE_VERSION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
#ifdef SUPPORT_CHECK
 FILETYPE VFT_APP
#else
 FILETYPE VFT_DLL
#endif
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "CompanyName", "4x4-Tools\0"
   VALUE "FileDescription", "4x4-Tools DLSS 5 neural video enhancement\0"
   VALUE "FileVersion", TOOLS_PRODUCT_VERSION "\0"
   VALUE "ProductName", "4x4-Tools DLSS 5\0"
   VALUE "ProductVersion", TOOLS_PRODUCT_VERSION "\0"
   VALUE "LegalCopyright", "Copyright (c) 2026 4x4-Tools and contributors\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
